button
{
	color: #444444;
	font: 11pt "Arial"; 
}
button.bold
{
	font-weight: bold; 
}

tabpanel
{
	background-color: #D2D2D2;
	border-style: solid;
	border-width: 0px;
	color: #444444;
}
portal
{
	background-color: #D2D2D2;
	border-style: solid;
	border-width: 1px;
	border-color: #AEAAA0;
}

form
{
	background-color: #D2D2D2; 
}

field
{
	border-style: solid; 
	border-width: 0px;
	background-color: #ffffff; 
	color: #444444;
	font: 11pt "Tahoma"; 
	text-align: left; 
}
field.border
{
	border-width: 1px;
	border-color: #AAA9A0;
	margin: 1px 1px 1px 4px;
}
field.large
{
	font: bold 14pt "Tahoma"; 
}
field.noborder
{
	border-style: none; 
	border-width: 0px;
}

label
{
	color: #8B8979;
	border-style: none; 
	font: 11pt "Arial"; 
	text-align: right;
}
label.colorDark
{
	color: #808080;
}
label.colorMed
{
	color: #969696;
}
label.colorLight
{
	color: #AAAAAA;
}
label.colorWhite
{
	color: #FFFFFF;
}
label.colorContrastDark
{
	color: #FFFFFF;
}
label.colorContrastMedium
{
	color: #FFFFFF;
}
label.colorContrastLight
{
	color: #444444;
}
label.fillDark
{
	background-color: #808080;
	color: #FFFFFF;
	margin: 5px 5px 5px 5px;
}
label.fillMed
{
	background-color: #969696;
	color: #FFFFFF;
	margin: 1px 5px 1px 5px;
}
label.fillLight
{
	background-color: #AAAAAA;
	color: #444444;
	margin: 1px 5px 1px 5px;
}
label.sectionHeadLg
{
	color: #FFFFFF;
	font: bold 18pt "Tahoma"; 
	text-align: left;
}
label.sectionHeadMed
{
	color: #FFFFFF;
	font: bold 14pt "Tahoma"; 
	text-align: left;
}
label.insetDark
{
	background-color: #808080;
	border-style: solid;
	border-width: 1px;
	border-color: #332211 #FFFFE9 #FFFFE9 #332211;
	color: #FFFFFF;
	text-align: left;
	margin: 1px 1px 1px 8px;
	font: bold 14pt "Tahoma";
}
label.insetMed
{
	background-color: #969696;
	border-style: solid;
	border-width: 1px;
	border-color: #989261 #FFFFE9 #FFFFE9 #989261;
	color: #FFFFFF;
	text-align: left;
	margin: 1px 1px 1px 8px;
	font: bold 14pt "Tahoma";
}

label.insetLight
{
	background-color: #AAAAAA;
	border-style: solid;
	border-width: 1px;
	border-color: #989261 #FFFFE9 #FFFFE9 #989261;
	color: #444444;
	text-align: left;
	margin: 1px 1px 1px 8px;
	font: bold 14pt "Tahoma";
}
label.outsetDark
{
	background-color: #808080;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFE9 #332211 #332211 #FFFFE9;
	color: #FFFFFF;
	text-align: left;
	margin: 1px 1px 1px 8px;
	font: bold 14pt "Tahoma";
}
label.outsetMed
{
	background-color: #969696;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFE9 #989261 #989261 #FFFFE9;
	color: #FFFFFF;
	text-align: left;
	margin: 1px 1px 1px 8px;
	font: bold 14pt "Tahoma";
}

label.outsetLight
{
	background-color: #AAAAAA;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFE9 #989261 #989261 #FFFFE9;
	color: #444444;
	text-align: left;
	margin: 1px 1px 1px 8px;
	font: bold 14pt "Tahoma";
}
label.fieldBackground
{
	background-color: #ffffff;
	border-style: solid; 
	border-width: 1px;
	border-color: #AEAAA0;
}
label.lblBackground
{
	background-color: #969696;
	border-style: solid;
	border-width: 0px;
}
label.button2
{
	background-color: #CFCDBD;
	border-style: solid;
	border-width: 1px;
	border-color: #8B8979;
	text-align: center;
	font: 11pt "Arial"; 
	color: #444444;
}
label.button3
{
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #8B8979;
	text-align: center;
	font: bold 11pt "Arial"; 
	color: #444444;
}